extends ../layouts/base

block intro
    #intro
        h4.text-center Hello my name is Shane and welcome to my website. 
        h5.text-center.italic Please note that this website is still under active development!

block content
    #latest-blog-post
        h3 Latest Blog Post
        !{obj[0].content}

    #latest-project
        h3 Latest Project 
