nav.navbar.navbar-default.navbar-fixed-top
    div.container
        //trying to make this like navbar-brand
        //-.navbar-left
        .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target="#navbar")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a#logo.navbar-brand(href="/") Shane Gilroy
        //-.collapse.navbar-collapse
        #navbar.navbar-collapse.collapse
            ul(class='nav navbar-nav')
                li
                    a(href='/') Home
                li
                    a(href='/projects') Projects 
                li
                    a(href='/blog') Blog 
                li
                    a(href='/about') About 
                li
                    a(href='/contact') Contact 
