$color1: #1352a2;
$offblack: #333332;
$bgcolor: #f1f0ee;
$white: #fff;
$border-color1: #e7e7e7;
$font-color1: #777;
$content-spacing: 40px;

body {
    background-color: $bgcolor;
    color: $offblack;
}

body > .container {
    min-height: 600px;
    padding-top: 62px;
}

#logo {
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size:24px;
    color: $white;
}

#footer {
    border-top: 1px solid $border-color1;
    background-color: $offblack;
    color: $bgcolor;
    padding: 15px 15px;
    min-height:80px;
}

#latest-blog-post {
    margin-top: $content-spacing;
}

#latest-project {
    margin-top: $content-spacing;
}

#contact{
    margin-bottom:30px;

    a {
        margin-left:10px;
    }
    a > img {
        width: 25px;
    }
}

.center-text {
    text-align: center;
}

.italic {
    font-style: italic;
}

//bootstrap tweaks
//http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.navbar-default {
    background-color: $color1;
    /*color: $white !important;*/
}

.nav {
    text-align: center;
    width:380px;
    margin:auto;
    float:none;
}

.nav > li {
    display: inline-block;
}

.nav > li a {
    color: $white !important;
}

.nav > li a:hover {
    color: $bgcolor;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.navbar-toggle {
    border-color: $white !important;
}

.navbar-toggle:hover {
    //background-color: $white;
    animation-name: colorswitch;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.icon-bar {
    background-color: $white !important;
}

//shadows
/*@media (min-width: 768px){*/
    /*.navbar-default {*/
        /*box-shadow: 1px 1px 1px black;*/
    /*}*/
/*}*/

/*@media (max-width: 768px){*/
    /*.navbar {*/
        /*box-shadow: 1px 1px black;*/
    /*}*/
/*}*/

//animations
@keyframes colorswitch {
    from{background-color: $color1;}
    to {background-color: $offblack;}
}

//trying to increase collapse range
/*@media (min-width: 699px) and (max-width: 1000px) {*/
    /*.collapse {*/
        /*display: block !important;*/
     /*}*/

     /*.navbar-toggle {*/
        /*display:none;*/
     /*}*/
 /*}*/
