@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$color1: #1352a2;
$offblack: #333332;
$darkgrey: #f1f0ee;
$lightgrey: #f6f6f6;
$white: #fff;
$navy: #2c3e50;
$border-color1: #e7e7e7;
$font-color1: #777;
$content-spacing: 20px;

body {
    background-color: $darkgrey;
    color: $offblack;
}

body > .container-fluid {
    padding-top: 62px;
    font-weight: 200;
    min-height: 980px;
}

p {
    font-size:16px;
}

#logo {
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size:24px;
    color: $color1;
}

#footer {
    /*position:absolute;*/
    /*left: 0px;*/
    /*bottom: 0px;*/
    /*right: 0px;*/

    border-top: 1px solid $border-color1;
    background-color: $navy;
    color: $darkgrey;
    padding: 15px 15px;
    min-height:100px;

    p {
        font-size: 10px;
        font-style: italic;

        a {
            color: $darkgrey;
        }
    }
}


#latest-blog-post {
    margin-top: $content-spacing;
}

#latest-project {
    margin-top: $content-spacing;
}

.heading { 
    position:relative;
    padding-bottom: 10px;
 }

.heading::after {
    content:"";
    position:absolute;
    left:50%;
    margin-left:-75px;
    height: 2px;
    width:150px;
    bottom: 0px;
    background-color:$color1;
}

.lightbg {
    background-color: $lightgrey;
 }

 .darkbg {
    background-color: $darkgrey;
 }

#contact{
    margin-bottom:30px;

    a {
        margin-right:10px;
    }
    a > img {
        width: 25px;
    }

    #links {
        margin:auto;
        text-align:center;
    }
}

#projects-header, #blogs-header{
    margin-bottom: 40px;
}

img + h2{
    margin-bottom:10px;
}

.imageheader {
    width:25px;
    display:block;
    margin:auto;
    margin-top:20px;
}

.imageblock {
    img {
        display:block;
        margin:auto;
        margin-top:20px;
    }

    h6 {
        margin-bottom:20px;
    }
}

.center-text {
    text-align: center;
}

.italic {
    font-style: italic;
}

.no-margin-top {
    margin-top: 0px !important;
}

//bootstrap tweaks
//http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.row { 
    /*margin-top:40px;*/
    padding-bottom:50px;
}

.navbar-default {
    background-color: $lightgrey;
    /*color: $white !important;*/
    border-color: $color1;
}

.nav {
    text-align: center;
    width:380px;
    margin:auto;
    float:none;
}

.nav > li {
    display: inline-block;
}

.nav > li a {
    color: $color1 !important;
}

.nav > li a:hover {
    color: $navy !important;
    /*animation-name: colorswitch;*/
    /*animation-duration: 2s;*/
    /*animation-fill-mode: forwards;*/
    /*border-right: 1px solid white;*/
    /*border-left: 1px solid white;*/
}

.navbar-toggle {
    border-color: $color1 !important;
}

.navbar-toggle:hover {
    //background-color: $white;
    animation-name: colorswitch;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.icon-bar {
    background-color: $color1 !important;
}

//shadows
/*@media (min-width: 768px){*/
    /*.navbar-default {*/
        /*box-shadow: 1px 1px 1px black;*/
    /*}*/
/*}*/

/*@media (max-width: 768px){*/
    /*.navbar {*/
        /*box-shadow: 1px 1px black;*/
    /*}*/
/*}*/

//animations
@keyframes colorswitch {
    from{ background-color: transparent }//background-color: $color1;}
    to {background-color: $darkgrey;}
}

//trying to increase collapse range
/*@media (min-width: 699px) and (max-width: 1000px) {*/
    /*.collapse {*/
        /*display: block !important;*/
     /*}*/

     /*.navbar-toggle {*/
        /*display:none;*/
     /*}*/
 /*}*/
